<app-manager-project-func (callBackEventEmitter)="reloadData($event)"></app-manager-project-func>
<app-manager-project-detail></app-manager-project-detail>
<button type="button" class="btn btn-primary offset-10 mb-3" (click)="onAddProject()">
  Thêm dự án +
</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên dự án</th>
      <th scope="col">Trạng thái</th>
      <th scope="col">Chức năng</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projectList; let i = index" (click)="onViewTaskByIdProject(project.id)">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ project.tenDuAn }}</td>
      <td>{{ project.trangThai ? "Đã hoàn thành" : " Chưa hoàn thành" }}</td>
      <td>
        <button class="btn btn-primary mr-2" (click)="onShowDetail(project.id)">
          Xem chi tiết
        </button>
        <button class="btn btn-success mr-2" (click)="onEditProject(project.id)">
          Sửa
        </button>
        <button class="btn btn-danger" (click)="onDeleteProject(project.id)">
          Xóa
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- <div *ngFor="let task of taskListOfProject">
  <p>{{ task.noiDung }}</p>
  <p>{{ task.trangThai }}</p>
</div> -->