<button
  type="button"
  class="btn btn-primary offset-10 mb-3"
  (click)="onAddProject(template)"
>
  Thên dự án +
</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Thêm dự án</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="onClose()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form action="" [formGroup]="createProjectForm">
      <div class="form-group">
        <label for="">Tên dự án</label>
        <input type="text" formControlName="tenDuAn" class="form-control" />
      </div>
      <div class="form-group">
        <label for="">Trạng thái</label>
        <select
          class="form-control"
          formControlName="trangThai"
          id="exampleFormControlSelect1"
        >
          <option [ngValue]="true">Hoàn thành</option>
          <option [ngValue]="false">Chưa hoàn thành</option>
        </select>
      </div>
      <button class="btn btn-primary" (click)="onAddTask()">
        Thêm công việc +
      </button>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Tên công việc</th>
            <th scope="col">Nhân viên đảm nhiệm</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of taskListOfProject">
            <th scope="col">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="task.noiDung"
                [ngModelOptions]="{ standalone: true }"
              />
              <ng-template #noiDungTemplate>{{ task?.noiDung }}</ng-template>
            </th>
            <th scope="col">
              <select
                class="form-control"
                id="exampleFormControlSelect1"
                [(ngModel)]="task.nguoiDungId"
                [ngModelOptions]="{ standalone: true }"
              >
                <option *ngFor="let item of userList" [ngValue]="item.id">
                  {{ item.tenNguoiDung }}
                </option>
              </select>
            </th>
          </tr>
        </tbody>
      </table>
    </form>
    <div class="group-but offset-8">
      <button class="btn btn-primary mr-2" (click)="onSave()">Lưu</button>
      <button class="btn btn-danger" (click)="onClose()">Hủy bỏ</button>
    </div>
  </div>
</ng-template>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên dự án</th>
      <th scope="col">Trạng thái</th>
      <th scope="col">Chức năng</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let project of projectList; let i = index"
      (click)="onViewTaskByIdProject(project.id)"
    >
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ project.tenDuAn }}</td>
      <td>{{ project.trangThai ? "Đã hoàn thành" : " Chưa hoàn thành" }}</td>
      <td>
        <button
          class="btn btn-primary mr-2"
          (click)="onShowDetail(detail, project)"
        >
          Xem chi tiết
        </button>
        <button
          class="btn btn-success mr-2"
          (click)="onEditProject(template, project)"
        >
          Sửa
        </button>
        <button class="btn btn-danger" (click)="onDeleteProject(project)">
          Xóa
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- <div *ngFor="let task of taskListOfProject">
  <p>{{ task.noiDung }}</p>
  <p>{{ task.trangThai }}</p>
</div> -->

<ng-template #detail>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Thông tin dự án</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="onClose()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên công việc</th>
          <th scope="col">Nhân viên đảm nhiệm</th>
          <th scope="col">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cv of taskList; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ cv?.noiDung }}</td>
          <td>{{ cv?.nguoiDungId }}</td>
          <td>{{ cv?.trangThai ? "Đã hoàn thành" : " Chưa hoàn thành" }}</td>
        </tr>
      </tbody>
    </table>
    <div class="group-but offset-8">
      <button class="btn btn-danger" (click)="onClose()">Đóng</button>
    </div>
  </div>
</ng-template>

<div class="col-4 offset-3">
  <select class="form-control mt-5" id="exampleFormControlSelect1">
    <option *ngFor="let item of userList" (value)="(item.id)">
      {{ item.tenNguoiDung }}
    </option>
  </select>
</div>
