<app-manager-staff-detail [reloadFunction]="showListStaff" (callBackEventEmitter)="reloadData($event)">
</app-manager-staff-detail>

<!-- <button
  type="button"
  class="btn btn-primary offset-10 mb-3"
  (click)="onAddStaff(template)"
>
  Thên nhân viên +
</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Thêm nhân viên</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="onClose()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form action="" [formGroup]="createUserForm">
      <div class="form-group">
        <label for="">Tên nhân viên</label>
        <input
          type="text"
          formControlName="tenNguoiDung"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="">Tên tài khoản</label>
        <input type="text" formControlName="tenDangNhap" class="form-control" />
      </div>
      <div class="form-group">
        <label for="">Mật khẩu</label>
        <input type="text" formControlName="matKhau" class="form-control" />
      </div>
      <div class="form-group">
        <label for="">Quyền</label>
        <select
          class="form-control"
          formControlName="role"
          id="exampleFormControlSelect1"
        >
          <option value="nhanvien">nhân viên</option>
          <option value="quanly">quản lý</option>
        </select>
      </div>
    </form>
    <div class="group-but offset-8">
      <button class="btn btn-primary mr-2" (click)="onSave()">Lưu</button>
      <button class="btn btn-danger" (click)="onClose()">Hủy bỏ</button>
    </div>
  </div>
</ng-template> -->
<div>
  <button type="button" class="btn btn-primary offset-10 mb-3" (click)="onAddStaff()">
    Thêm nhân viên +
  </button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên Nhân viên</th>
      <th scope="col">Tên tài khoản</th>
      <th scope="col">Chức năng</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let staff of staffList; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ staff.tenNguoiDung }}</td>
      <td>{{ staff.tenDangNhap }}</td>
      <td>
        <button class="btn btn-success mr-2" (click)="onEditStaff(staff.id)">
          Sửa
        </button>
        <button class="btn btn-danger" (click)="onDeleteStaff(staff.id)">
          Xóa
        </button>
      </td>
    </tr>
  </tbody>
</table>